{% extends 'main/basic.html' %}
{% block title %}Mak Media Tech{% endblock title %}
{% block hero %}



  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h2 data-aos="fade-up" data-aos-delay="100">MAK MEDIA TECH</h2>
        <p data-aos="fade-up" data-aos-delay="200">Welcome To A Place Where You Can Create Demand For Your Business.</p>
      </div>
      <div class="col-lg-5" data-aos="fade-up" data-aos-delay="300">
        <form action="forms/newsletter.php" method="post" class="php-email-form">
          <div class="sign-up-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your subscription request has been sent. Thank you!</div>
        </form>
      </div>
    </div>
  </div>

{% endblock hero %}